.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    height: 50px;
    max-width: 500px;
    padding: 7px 10px 6px 20px;
    font-size: 18px;
    color: #131313;
    background: white;
    border-radius: 25px;
    border: 1px solid #dadce0;
    outline: 0;
    z-index: 9999;
}