$grayscale: rgb(122, 122, 122);
$background-color: rgb(11, 31, 95);
$text-color: #ffffff;
.main-button {
    z-index: 0;
    background: $background-color;
    padding: 10px 30px 10px 30px;
    display: block;
    text-align: center;
    position: fixed;
    max-width: 300px;
    font-size: 16px;
    margin: 0 auto;
    color: $text-color;
    overflow: hidden;
    border: solid 2px transparent;
    border-image-slice: 1;
    border-radius: 10px 10px 10px 10px;
    margin-top: 80px;
    &:hover {
        border: solid 2px $grayscale;
        cursor: pointer;
        &:after {
            width: 600px;
            top: -180px;
            height: 600px;
            left: -40px;
        }
    }
}