.logo {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    align-items: center;
}

.content_logo {
    width: 100px;
    padding-bottom: 30px;
}

@media (max-width: 763px) {
    .content {
        padding-top: 30px;
    }
    .content_logo {
        width: 100px;
    }
}