.result-list {
    background: #ffffff;
    width: 500px;
    color: rgb(41, 41, 41);
    line-height: 15px;
    border-radius: 0 0 30px 20px;
    box-shadow: 0 0 1em rgb(221, 221, 221);
    font-size: 14px;
    text-align: left;
    padding: 10px;
    padding-top: 30px;
    margin-top: -20px;
    z-index: 9998;

    .overflow {
        height: 255px;
        overflow: auto;
        margin-top: 15px;
        margin-bottom: 3px;
    }

    .hide {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background-color: #f4f4f4;
    }
    ::-webkit-scrollbar {
        width: 8px;
        background: #f4f4f4;
    }
    ::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }
}

li {
    list-style-type: none;
    padding: 5px;

    .clock-icon {
        margin: 5px;
    }
}

li:hover {
    background-color: rgb(245, 245, 245);
}

.list-group {
    list-style-type: none;
}

a:link {
    color: #535353;
    text-decoration: none;
}

a:visited {
    color: #535353;
    text-decoration: none;
}

a:active {
    color: #535353;
    text-decoration: none;
}
